
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    margin-top: 2rem;
    width: 80%;

    border: solid #6B022A;

    padding: 1.5rem;
    box-shadow: 0 1px 20px #6b022a4f;
    border-radius: 0.5rem;

    text-align: center;
}